<h1>First_name:<%= @author.first_name %></h1>

<div style="margin-top: 20px;">
  <h3>Last Name: <%= @author.last_name %></h3>
  <h3>Title: <%= @author.title %></h3>
</div>

<ul>
  <li><%= link_to "Edit", edit_author_path(@author) %></li>
  <li><%= link_to "Destroy", author_path(@author), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %></li>

</ul>


