
# <h2>order_details</h2>
# <p>date_submitted:-<%= @delivery.date_submitted %></p>
# <p>status:-<%= @delivery.status %></p>
# <p>subtotal:-<%= @delivery.subtotal%></p>
# <p>shipping:-<%= @delivery.shipping %></p>
# <p>total:-<%= @delivery.total %></p>
# <p>tax:-<%= @delivery.tax %></p>

# <ul>
#   <li><%= link_to "Edit", edit_delivery_path(@delivery) %></li>
#   <li><%= link_to "Destroy", delivery_path(@delivery), data: {
#     turbo_method: :delete,
#     turbo_confirm: "Are you sure?"
#   } %></li>
# </ul>

