<!DOCTYPE html>
<html>
<head>
  <title>Practice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

</body>
</html>
<% if author_signed_in? %>
  <%= link_to('Sign out', destroy_author_session_path, method: :delete, 'data-turbo-method': :delete) %>
<% end %>

